* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.btn-load {
  display: block;
  max-width: 300px;
  margin: auto;
}

.btn-like {
  border: none;
  background-color: #fff;
  color: rgb(60, 179, 96);
  font-size: 2.5rem;
  margin-right: 1rem;
}

.btn-unlike {
  border: none;
  background-color: #fff;
  color: tomato;
  font-size: 2.5rem;
  margin-top: 0.5rem;
}

.btn-like:hover {
  color: green;
}

.btn-unlike:hover {
  color: rgb(214, 79, 55);
}

.carousel-item:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}

.movie-style {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.navbar-link {
  color: #fff !important;
}

.navbar-link:hover {
  color: lightblue !important;
}

@media (min-width: 280px) and (max-width: 374px) {
  .hide-font {
    display: none;
  }

  .btn-load {
    font-size: 8px;
  }

  .carousel-item:after {
    background: rgba(0, 0, 0, 0);
  }
}

@media (min-width: 375px) and (max-width: 499px) {
  h5 {
    font-size: 10px;
  }

  .btn-load {
    font-size: 10px;
  }

  .carousel-item:after {
    background: rgba(0, 0, 0, 0);
  }
}

@media (min-width: 500px) and (max-width: 767px) {
  h5 {
    font-size: 12px;
  }

  .btn-load {
    font-size: 12px;
  }

  .carousel-item:after {
    background: rgba(0, 0, 0, 0);
  }
}

@media (min-width: 800px) {
  h5 {
    font-size: 14px;
  }

  .btn-load {
    font-size: 14px;
  }
}

@media (min-width: 1000px) {
  h5 {
    font-size: 16px;
  }

  .btn-load {
    font-size: 18px;
  }
}
