* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.btn-load {
  display: block;
  max-width: 300px;
  margin: auto;
}

.btn-like {
  border: none;
  background-color: #fff;
  color: rgb(60, 179, 96);
  font-size: 2.5rem;
  margin-right: 1rem;
}

.btn-unlike {
  border: none;
  background-color: #fff;
  color: tomato;
  font-size: 2.5rem;
  margin-top: 0.5rem;
}

.btn-like:hover {
  color: green;
}

.btn-unlike:hover {
  color: rgb(214, 79, 55);
}

.carousel-item:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
}
